<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.5.2" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.8" targetFramework="net451" />
  <package id="jQuery" version="2.1.1" targetFramework="net472" />
  <package id="SampleDependency" version="1.0.0" targetFramework="net472" />
  <package id="ScrapySharp" version="3.0.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net451" />
  <package id="System.Runtime.Caching" version="4.5.0" targetFramework="net472" />
  <package id="Sytem.WebPackage" version="1.0.0" targetFramework="net472" />
</packages>